Package: com.ntdark.instagramshowlikes
Name: Instagram Show Likes Free
Author: Ntdark (Original Flex patch by freitasrod)
Description: Make Instagram show number of likes of posts
Depends: mobilesubstrate
Maintainer: Ntdark
Architecture: iphoneos-arm
Section: Tweaks
Version: 1.0
Installed-Size: 152
